<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Acceso denegado</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>ACCESO DENEGADO. Sin permisos suficientes para esta seccion</h1><br/>
        <br/>
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
    </body>
</html>
