<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"/>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"/>
    </head>
    <body>
        <header th:fragment="cabecero">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        
        <footer th:fragment="piePagina">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> | 
                <a th:href="@{/(lang=en)}">EN</a>
            </div>
            <span>[[#{plantilla.pie-pagina}]] <a href="www.ludencompany.com" target="_blank">Luden ingeniería</a></span>           
            <form method="post" th:action="@{/logout}">
                <b>Usuario: </b> <span sec:authentication="name">Usuario que hizo login</span> | 
                <b>Roles: </b> <span sec:authentication="principal.authorities"></span>
                <input type="submit" value="Salir"/>
            </form>
        </footer>
    </body>
</html>
