<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: cabecero">
            
        </header>
        
        <br/>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a><br/>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>[[#{persona.id}]]</th>
                    <th>[[#{persona.nombre}]]</th>
                    <th>[[#{persona.apellidos}]]</th>
                    <th>[[#{persona.telefono}]]</th>
                    <th>[[#{persona.email}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.idPersona}"></td>
                    <td th:text="${persona.nombre}"/>
                    <td th:text="${persona.apellidos}"/>
                    <td th:text="${persona.telefono}"/>
                    <td th:text="${persona.email}"/>
                    <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${persona.idPersona}" th:text="#{accion.editar}"></a></td>
                    <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="#{accion.eliminar}"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">[[#{persona.listaVacia}]]</div>
    
        <footer th:replace="layout/plantilla :: piePagina"/>
    
    </body>
</html>
