<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la persona</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="cabecero">
            <h1>[[#{plantilla.titulo}]]</h1>
        </header>
        <h2>[[#{persona.formulario}]]</h2><br/>
        <a th:href="@{/}">[[#{accion.regresar}]]<a/><br/><br/>
            <form th:action="@{/guardar}" method="post" th:object="${persona}">
                <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
                <label for="nombre">[[#{persona.nombre}]].</label>
                <input type="text" name="nombre" th:field="*{nombre}"><br/><br/>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span><br/>
                <label for="nombre">[[#{persona.apellidos}]].</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"><br/><br/>
                <span th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">Error nombre</span><br/>
                <label for="nombre">[[#{persona.telefono}]].</label>
                <input type="tel" name="telefono" th:field="*{telefono}"><br/><br/>
                <label for="email">[[#{persona.email}]].</label>
                <input type="text" name="email" th:field="*{email}"><br/><br/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span><br/>
                <input type="submit" name="Guardar" th:value="#{accion.guardar}">
            </form>
            <footer th:replace="layout/plantilla :: piePagina"/>
    </body>
</html>
